OPENAI_KEY=
POLYGON_API_KEY=

NEXT_PUBLIC_SUPABASE_URL=https://rpojectId.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_...
supabase_pwd=
SUPABASE_SECRET_KEY=sb_secret_...

NEXT_PUBLIC_API_BASE_URL=http://localhost:3000/api
CRON_SECRET=your_cron_secret_here
RESEND_API_KEY=your_resend_api_key_here
NEXT_PUBLIC_BASE_URL=http://localhost:3000
